<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ats.rohit.astutes">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!--uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.ats.rohit.astutes.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ats.rohit.astutes.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ats.rohit.astutes.Good"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ats.rohit.astutes.LogIn"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.ats.rohit.astutes.NotSoGood"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ats.rohit.astutes.Questions"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ats.rohit.astutes.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ats.rohit.astutes.Start"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ats.rohit.astutes.VeryGood"
            android:screenOrientation="portrait" />
        <activity android:name="com.ats.rohit.astutes.VideoList" />
        <activity android:name="com.ats.rohit.astutes.VideoPlayer" />
        <activity android:name="com.ats.rohit.astutes.ForPaidVideo"></activity>
    </application>

</manifest>